{% extends 'baseApp/index.html' %}
{% load static %}

{% block content %}



<div class="order-body">
  <h1 class="menu-heading">Menu <hr class="stylish-rule"></h1>
  <div class="container menu">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="{% static 'baseApp/images/pizza/pepperoni.webp' %}" class="card-img-top" alt="pepperoni pizza">
              <div class="card-body">
                <h5 class="card-title">Pepperoni Pizza</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Buy</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="{% static 'baseApp/images/pizza/bbqchicken.jpg' %}" class="card-img-top" alt="bbq chicken pizza">
              <div class="card-body">
                <h5 class="card-title">BBQ Chicken Pizza</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Buy</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="{% static 'baseApp/images/pizza/margeritapizza.jpg' %}" class="card-img-top" alt="margerita">
              <div class="card-body">
                <h5 class="card-title">Margerita Pizza</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-success">Buy</a>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'baseApp/images/pizza/cheese_pizza.jpg' %}" class="card-img-top" alt="pepperoni pizza">
                <div class="card-body">
                  <h5 class="card-title">Cheese Burst Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'baseApp/images/pizza/vegpizza.jpg' %}" class="card-img-top" alt="bbq chicken pizza">
                <div class="card-body">
                  <h5 class="card-title">Pineapple Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'baseApp/images/pizza/tomato-cheese.jpg' %}" class="card-img-top" alt="tomato pizza">
                <div class="card-body">
                  <h5 class="card-title">Tomato and Cheese Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfVFB-65jhIjOpESJSeSvxSoRs5mcaogKObA&usqp=CAU" class="card-img-top" alt="peri peri chicken pizza">
                <div class="card-body">
                  <h5 class="card-title">Peri Peri Chicken Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://assets.bonappetit.com/photos/5cd32ef32c3537178c3c8f03/1:1/w_2560%2Cc_limit/BA-Perfect-Pizza.jpg">
                <div class="card-body">
                  <h5 class="card-title">Double Margerita Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNWVlZxNHxQI5YXCbL8o5_qxkf0K7Q-W9cfw&usqp=CAU" class="card-img-top" alt="double pepperoni">
                <div class="card-body">
                  <h5 class="card-title">Double Pepperoni Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://www.simplyrecipes.com/thmb/1KOEQ0SPZNXwU0pUXUDdAm6Z7xo=/2001x2001/smart/filters:no_upscale()/Simply-Recipes-Homemade-Pizza-Dough-Lead-Shot-1c-c2b1885d27d4481c9cfe6f6286a64342.jpg" class="card-img-top" alt="Mushroom pizza">
                <div class="card-body">
                  <h5 class="card-title">Mushroom Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_1:1/k%2Farchive%2Fb36036a54e1cf9c084f4b702a63e5a08f1e98983" class="card-img-top" alt="John's special pizza">
                <div class="card-body">
                  <h5 class="card-title">John's special Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/margherita-pizza-1586176153.jpg" class="card-img-top" alt="Jumbo pizza">
                <div class="card-body">
                  <h5 class="card-title">Jumbo Pizza</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-success">Buy</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  
</div>









{% endblock content %}